
<div class="main-container">
  <section class="image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background" class="background-image" src="/assets/100state-space.jpg">
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="feature feature-1 boxed text-center">
              <div class="text-center">
                  <img alt="Background" class="background-image" src="/assets/100statelogo.png">
                  <br>
                  <br>
                  <h5 class="uppercase"> We Appreciate Your Donations</h5>
              </div>
              <%= form_for :direct_donate, url: direct_donate_path, method: :post do |f| %>
                <%= f.text_field :amount, placeholder: "Donation amount: 10" %>
                <%= f.text_field :legal_name, placeholder: "Name on card" %>
                <%= f.text_field :email, placeholder: "Email address(for receipt)" %>
                <%= f.text_field :card, placeholder: "Card number", maxlength: 16 %>
                <%= f.text_field :exp_month, placeholder: "Expiration Month: 09", maxlength: 16 %>
                <%= f.text_field :exp_year, placeholder: "Expiration Year: 2020", maxlength: 16 %>
                <%= f.text_field :cvc, placeholder: "CVC Number: 020", maxlength: 16 %>
                <%= f.submit "Donate" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
    
</section>

  <footer class="footer-2 bg-dark text-center">
    <div class="container">
      <div class="row">            
        <div class="text-center">
          <span class="fade-half">
            © Copyright 2015-<%= DateTime.now.strftime("%Y") %> 100State inc. - All Rights Reserved
          </span>
        </div>            
      </div>
    </div>
  </footer>
</div>


<div class="modal inmodal" id="contacting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'form' %>
    </div>
  </div>
</div>